main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.carousel {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 500px;
  width: 600px;
}

.ctn {
  position: relative;
  display: flex;
  flex: 1;
}

.images {
  display: flex;
  justify-content: center;
  flex: 1;
  box-shadow: var(--shadow);
  border-radius: 12px;
  overflow-x: hidden;
}

.images > img {
  display: none;
  border-radius: 12px;
}

.indicators {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 6px;
  width: 100%;
  bottom: 0;
  background-color: var(--secondary);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.btn-ctn {
  display: flex;
  align-items: center;
}

.left-btn,
.right-btn {
  display: flex;
  padding: 6px;
  border-radius: 12px;
  box-shadow: var(--shadow);
  background-color: var(--secondary);
  cursor: pointer;
}

.left-btn:hover,
.right-btn:hover {
  opacity: 0.8;
}

.is-selected {
  fill: var(--text);
}

.is-display-img {
  display: block !important;
}



@media only screen and (max-width: 700px) {
  .carousel {
    height: 400px;
    width: 500px;
  }
}

@media only screen and (max-width: 550px) {
  .carousel {
    height: 300px;
    width: 400px;
  }
}

@media only screen and (max-width: 450px) {
  .carousel {
    height: 200px;
    width: 300px;
  }
}